.container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 34px;
  margin-left: 41px;

  .who_we_are {
    margin-top: 181px;
    margin-left: 41px;
  }
  .what_we_do {
    margin-left: 41px;
    margin-top: 122px;
  }
  p {
    text-transform: uppercase;
    color: #ffffff;
    line-height: 134%;
    font-weight: 510;
    height: 21px;
    width: 1318px;
  }
  h1 {
    font-weight: 270;
    font-size: 45.03px;
    line-height: 134%;
    color: #efcdff;
    width: 1318px;
    height: 336px;
  }
}
