.container {
  margin-top: 71px;
  padding-left: 41px;
  padding-right: 41px;
  border-radius: 40px;

  .img_container {
    max-width: 100%;
    border-radius: 40px;
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  .content {
    background: #e3e7ff;
    display: flex;
    flex-direction: column;
    padding-top: 182px;
    padding-left: 135px;
    padding-bottom: 135px;
    border-bottom: 40px;
    text-align: center;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;

    @media (max-width: 780px) {
    }

    .text_content {
      display: flex;
      padding-bottom: 80px;
      gap: 734px;

      @media (max-width: 780px) {
        gap: 29px;
        flex-direction: column;
      }

      .main {
        max-width: 318px;
        font-size: 60px;
        font-weight: 400;
        line-height: 71.4px;
        font-weight: 400;
      }
      .sub {
        max-width: 449px;
        font-size: 22px;
        line-height: 29.48px;
      }
    }

    .img_content {
      display: flex;
      gap: 29px;

      .img_container {
        width: 780px;

        img {
          height: auto;
          object-fit: cover;
          max-width: 100%;
        }
      }
    }
  }
}
