.container {
  padding-top: 346px;
  color: #efcdff;
  max-width: 1226px;
  font-size: 3.5rem;
  line-height: 3.771rem;
  padding-left: 41px;
  padding-right: 41px;

  @media (max-width: 860px) {
    padding-top: 80px;
    font-size: 18px;
    line-height: 1.5rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}
