.container {
  background: #050a2f;
  display: flex;
  flex-direction: column;

  .sunglasses_img {
    border: 1px solid red;
    text-align: center;

    img {
      max-width: 642px;
      height: auto;
      border: 1px solid red;
    }
  }
}
