.container {
  background: #050a2f;
  display: flex;
  flex-direction: column;

  .sunglasses_img {
    max-width: 642px;
    margin: 0 auto;

    img {
      height: auto;
      object-fit: cover;
      width: 100%;
    }
  }
}
