.container {
  display: flex;
  justify-content: space-between;
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 21px;

  @media (max-width: 860px) {
    padding-left: 15px;
    padding-right: 15px;
  }

  .logo_container {
    max-width: 150px;

    .logo {
      max-width: 100%;
      height: auto;
      cursor: pointer;
    }
  }

  .navlist {
    display: flex;
    gap: 35px;
    align-items: center;
    cursor: pointer;

    @media (max-width: 860px) {
      gap: 17.5px;
    }

    .navitem {
      list-style: none;
      color: #ffffff;
      line-height: 0.8325rem;
      font-size: 0.75rem;
      text-decoration: none;

      @media (max-width: 860px) {
        font-size: 0.5rem;
        line-height: 0.4325rem;
      }
    }
  }
}
