.container {
//   border: 1px solid red;
  background: #e3e7ff;
  margin-left: 41px;
  margin-right: 41px;
  border-radius: 40px;
  .top_section {
    display: flex;
    padding-top: 136px;
    padding-left: 136px;
    padding-bottom: 60px;
    max-width: 1200px;
    gap: 29px;
  }

  .bottom_section {
    max-width: 1200px;
    margin-left: 136px;
    margin-bottom: 126px;

    img {
      width: 100%;
    }
  }
}
