.container {
  display: flex;
  justify-content: space-between;
  color: #a4a0a5;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.97125rem;
  padding-left: 41px;
  padding-right: 41px;
  padding-top: 417px;
  padding-bottom: 41px;

  @media (max-width: 860px) {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 0.6rem;
    padding-left: 15px;
    padding-right: 15px;
  }
}
