.mission {
  color: #ffffff;
  margin: 209px auto;
  text-align: center;
  font-size: 80px;
  font-weight: 400;
  line-height: 107.2px;
  max-width: 1026px;
  width: 100%;

  @media (max-width: 860px) {
    font-size: 40px;
    line-height: 54px;
    margin: 100px auto;
  }
}
