.container {
  border: 1px solid green;
  padding-left: 41px;
  padding-right: 41px;
  border-bottom: 40px;

  .img_container {
    // border: 1px solid red;
    max-width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .content {
    background: #e3e7ff;
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    padding-left: 135px;
    padding-top: 100px;
    border-bottom: 40px;

    .text_content {
      display: flex;
      padding-bottom: 80px;
      //   max-width: 449px;
      justify-content: flex-end;

      .sub {
        // display: flex;
        margin-right: 201px;
        font-family: SF Pro;
        font-size: 22px;
        font-weight: 400;
        line-height: 29.48px;
        max-width: 449px;
        border: 1px solid green;
      }
    }

    .img_content {
      border: 1px solid red;
      display: flex;
      gap: 29px;
      margin-top: 172px;
      max-width: 1170px;
      flex-wrap: wrap;
    }
  }
}
