.container {
  border: 1px solid green;

  .img_container {
    border: 1px solid red;
    max-width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .content {
    background: #e3e7ff;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 135px;
    border-bottom: 40px;

    .text_content {
      display: flex;
      padding-bottom: 80px;

      .sub {
        border: 1px solid green;
        display: flex;
        justify-content: flex-end;
        font-family: SF Pro;
        font-size: 22px;
        font-weight: 400;
        line-height: 29.48px;
      }
    }

    .img_content {
      border: 1px solid red;
      display: flex;
      gap: 29px;
    }
  }
}
