.carousel_container {
  margin: 213px 41px 220px 41px;
  display: flex;
  max-width: 450px;
  gap: 10px;
  justify-content: center;
  align-items: center;

  @media(max-width :860px) {
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 150px;
  width: 100%;
  gap: 2px;
  }

  img {
    width: 100%;
    height: auto;
  }
}

.carousel_item {
  transition: transform 0.3s ease;
  display: inline-block;
   width: 100%;
}

.carousel_item:hover {
   transform: scale(1.4);
   //margin: 40px;
}
