.carousel_container {
  //   width: 80%;
  margin: 120px 0px 220px;
  padding-left: 41px;
  padding-right: 41px;
}

.carousel_item {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 62px;
}
.carousel_item:hover {
  // transform: scale(1.1);
}

.carousel_item img {
  width: 100%;
  border-radius: 8px;
}
