.carousel_container {
  //   width: 80%;
  margin: 120px 0px 220px;
  padding-left: 41px;
  padding-right: 41px;
  border: 1px solid red;
}

.carousel_item {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 62px;
  transition:
    transform 0.5s ease,
    box-shadow 0.5s ease;
  transform-origin: center;
}
.carousel_item:hover {
  transform: scale(1.1); /* Scale the item smoothly on hover */
    z-index: 2; /* Bring the hovered item to the front */

}

.carousel_item img {
  width: 100%;
  border-radius: 8px;
}

